{% extends 'projectapp/base.html' %}

{% block content %}
{% include 'projectapp/header.html' %}

<div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-sm btn-info form-control">Refresh</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="min-width: 80px;" scope="col">#</th>
                        <th style="min-width: 150px;" scope="col">Name</th>
                        <th style="min-width: 130px;" scope="col">Email</th>
                        <th style="min-width: 130px;" scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contactsvar %}
                    <tr>
                        <th style="white-space: normal;" class="">{{ forloop.counter }}</th>
                        <td style="white-space: normal;" class="">{{ contact.name }}</td>
                        <td style="white-space: normal;" class="">{{ contact.email }}</td>
                        <td style="white-space: normal;" class="">{{ contact.phone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}